.callback {
  @include button-reset;
  padding: 0;
  display: flex;
  align-items: center;
  height: 42px;
}

.callback__text {
  font-size: 0.9em;
  display: block;
  margin-top: -2x;
}
.callback__icon {
  display: none;
}

@media (min-width: 768px) {
  .callback__text {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .callback {
    height: 60px;
  }
  .callback__icon {
    display: block;
    margin-right: 16px;
  }
}