$orange: #FFB900;
$orange-light: #FFCE4D;
$orange-dark: #FFAE00;

$gray-dark: #B7B7B7;
$gray: #E0E0E0;
$gray-light: #F9F9F9;

$black-light: #404040;
$black: #000000;
$dark: #3B3737;

$white: #ffffff;
$black-transparent: rgba(0,0,0, .2);

$crimson: #D14F4E;
$green: #5DA270;